<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product_line.name %>
</p>

<p>
  <strong>Abbr:</strong>
  <%= @product_line.abbr %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product_line.description %>
</p>

<%= link_to 'Edit', edit_product_line_path(@product_line) %> |
<%= link_to 'Back', product_lines_path %>
