<div class="container">
	<header class="clearfix"></header>	
	<div class="main">
	<div class="body-section">
		<div class="help_me_decide_header"><%=image_tag("comparison_chart_top.jpg") %></div>
		<div class="center_area">
		<a href="/pages/help_me_decide_elite"><%=image_tag("comparison_chart_gel_foam.jpg") %></a>
		<%=image_tag("comparison_chart_gel.jpg") %>
		<%=image_tag("comparison_chart_bio_foam.jpg") %>
		<%=image_tag("comparison_chart_ergo_foam.jpg") %>
	    <!--<img src="/assets/comparison_chart.jpg">-->
	    </div>
	</div>
</div>
