<p id="notice"><%= notice %></p>

<p>
  <strong>Product line:</strong>
  <%= @pattern.product_line %>
</p>

<p>
  <strong>Name:</strong>
  <%= @pattern.name %>
</p>

<p>
  <strong>Abbr:</strong>
  <%= @pattern.abbr %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pattern.description %>
</p>

<%= link_to 'Edit', edit_pattern_path(@pattern) %> |
<%= link_to 'Back', patterns_path %>
