<p id="notice"><%= notice %></p>

<div class="container">
  <div class="body-section">
    <div class="left">
      <%=render 'steps_selector_2'%>
    </div>
    <div class="right">
      <div class='product_size'>
        <div class='swatch_button'><%=image_tag("/assets/product/swatch/#{@pattern.swatch}")%></div>
        <div class='sizes'>
          <% @products.each do |product| %>
            <div class="size_box_<%= product.dimensions %>">
              <%= link_to "#{product.size}", {:controller => 'products', :action => 'show', :id => product.id} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
