<p id="notice"><%= notice %></p>

<div class="container">
  <div class="body-section">
    <div class="left">
      <%=render 'steps_selector_2'%>
    </div>
    <div class="right">
      <div class='product_size'>
        <div class='swatch_button'><%=image_tag("product/swatch/#{@pattern.swatch}")%></div>
        <div class='sizes'>
          <% @products.each do |product| %>
            <a href="<%= product_path product %>">
              <div class="size_box_<%= product.dimensions %>">
                <div><%= product.size %><br />$<%= product.price %></div>
              </div>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>