<p id="notice"><%= notice %></p>

<div class='body-section'>
  <div class='left' style='margin-right:70px;'>
    <div class='barcode_box'>
      <div class='barcodeimg'><%=image_tag("barcode.jpg")%></div>
      <div class='barcodedetails'>
        <table class='barcodedetails'>
          <tbody>
            <tr>
              <td class='tblf'>Pattern</td>
              <td class='tbrt'><%= @product.pattern_name %></td> <!-- To be replaced by dynamic code -->
            </tr>
            <tr>
              <td class='tblf'>Color</td>
              <td class='tbrt'><%= @product.color %></td> <!-- To be replaced by dynamic code -->
            </tr>
            <tr>
              <td class='tblf'>Size</td>
              <td class='tbrt'><%= @product.size %></td> <!-- To be replaced by dynamic code -->
            </tr>
            <tr>
              <td class='tblf'>Price</td>
              <td class='tbrt'>$<%= @product.price %></td> <!-- To be replaced by dynamic code -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class='barcodephone'><b><a onclick="TINY.box.show({iframe:'number.html',width:325,height:177})" style='text-decoration: underline; font-weight: bold; cursor: pointer;'>Text this barcode to my phone</a></b><br>To be scanned and checked out</div>
    </div>
    <div class='step_button'><%=image_tag("step3_button_on.jpg")%></div>
  </div>
  <div class='right'>
    <div class='review_hero_box'>
      <div class='review_hero'><%=image_tag("product/hero/elite/#{@product.photo}")%></div>
    </div>
    <div class='review_hero_text'><%= @product.name %></div>
  </div>
</div>
