<footer class="footer">
	<div class="product_menu">
		<a href="/product_lines"><%=image_tag("shop_elite_button_on.png") %></a>
		<a href="#"><%=image_tag("shop_classic_button.png") %></a>
		<a href="#"><%=image_tag("shop_newlife_button.png") %></a>
		<a href="#"><%=image_tag("shop_dcm_button.png") %></a>
		<a href="help_me_decide.html"><%=image_tag("shop_learn_more_button.png") %></a>
	</div>
</footer>